@model List<UKRTB_journal.Models.MetodFileDescription>
@inject UKRTB_journal.Services.IInfoService InfoService
@{
    ViewData["Title"] = "Методички";
}

<br />
<table class="table">
    <thead class="thead-dark">
        <tr>

            <td scope="col" align="center">№</td>
            <td scope="col" align="center">Тип работы:</td>
            <td scope="col" align="center">Название:</td>
            <td scope="col" align="center">Описание файла:</td>
        </tr>
    </thead>
        @foreach (UKRTB_journal.Models.MetodFileDescription file in Model)
        {
            <tr>
                  <td scope="row" align="center">@file.Id</td>
                  <td align="center">@InfoService.GetTypeOfFileName((int)@file.Type)</td>
                  <td align="center">@file.PublicName</td>
                  <td align="center">@file.Description</td>
                  <td align="center">
                      <a href="@file.FullPath" download="@file.FullPath">Скачать</a>
                  </td>
            </tr> 
        }
</table>