@model UKRTB_journal.Models.FileDescription
@inject UKRTB_journal.Services.IInfoService InfoService
@{
    ViewBag.Title = "Удаление файла";
}

<div>
    <dl class="dl-horizontal">
        <dt>Тип файла:</dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>Номер работы:</dt>
        <dd>
            @Html.DisplayFor(model => model.FileNumberForType)
        </dd>
        <dt>Дата загрузки:</dt>
        <dd>
            @Model.UploadDate.ToLongDateString()
        </dd>
        <dt>Дата изменения:</dt>
        @if (Model.EditDate.HasValue)
            {
               <dd >@Model.EditDate.Value.ToLongDateString()</dd>
            }
            else
            {
               <dd >Не изменялся</dd>
            }
        <dt>Примечание:</dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>      

    </dl>

    <div>
        <form asp-controller="Files" asp-action="Delete" asp-route-fileId="@Model.Id" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Удалить" />
            </div>
        </form>
    </div>
</div>
