@model UKRTB_journal.Models.FileDescription
@inject UKRTB_journal.Services.IInfoService InfoService
@{
    ViewBag.Title = "Удаление отчета";
}

<div>
    <dl class="dl-horizontal">
        <dt>Количество часов:</dt>
        <dd>
            @Html.DisplayFor(model => model.FileNumberForType)
        </dd>
        <dt>Количество часов:</dt>
        <dd>
            @Html.DisplayFor(model => model.FileNumberForType)
        </dd>
        <dt>Дата:</dt>
        <dd>
            @Model.UploadDate.ToLongDateString()
        </dd>
        <dt>Дата:</dt>
        <dd>
            @Model.EditDate.ToLongDateString()
        </dd>
        <dt>Примечание:</dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>      

    </dl>

    <div>
        <form asp-controller="Files" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Удалить" />
            </div>
        </form>
    </div>
</div>
