@model UKRTB_journal.Models.FileWithInfo
@{
    ViewBag.Title = "Редактирование работы";
}
<form asp-action="Edit" asp-controller="Files" asp-route-id="@Model.FileDescription.Id">
    <div class="form-group">
        <label asp-for="FileDescription.GroupId" class="control-label">Группа</label>
        <select name="FileDescription.groupId" class="form-select">
            @foreach (UKRTB_journal.ViewModels.GroupModel group in ViewBag.Groups)
            {
                if (Model.FileDescription.GroupId != null && Model.FileDescription.GroupId == group.Id)
                {
                    <option selected="selected" value="@group.Id">@group.Name</option>
                }
                else
                {
                    <option value="@group.Id">@group.Name</option>
                }
            }
        </select><br />
    </div>
    <div class="form-group">
        <label asp-for="FileDescription.StudentId" class="control-label">Студент</label>
        <select name="FileDescription.studentId" class="form-select">
            @foreach (UKRTB_journal.ViewModels.StudentModel student in ViewBag.Students)
            {
                if (Model.FileDescription.StudentId != null && Model.FileDescription.StudentId == student.Id)
                {
                    <option selected="selected" value="@student.Id">@student.Surname @student.Name</option>
                }
                else
                {
                    <option value="@student.Id">@student.Surname @student.Name</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="FileDescription.Type" class="control-label">Тип</label><br />
        <select name="FileDescription.Type" class="form-select">
        @foreach (SelectListItem item in Html.GetEnumSelectList<TypeOfFile>())
        {
            if (Model.FileDescription.FileNumberForType != null && (int)Model.FileDescription.Type == int.Parse(item.Value))
            {
                <option selected="selected" value="@item.Value">@item.Text</option>
            }
            else
            {
                <option value="@item.Value">@item.Text</option>
            }
        }
    </select>
    </div>
    <div class="form-group">
        <label asp-for="FileDescription.FileNumberForType" class="control-label">Номер файла</label>
        <input type="number" asp-for="FileDescription.FileNumberForType" value="@Model.FileDescription.FileNumberForType" class="form-control" /><br />
        <span asp-validation-for="FileDescription.FileNumberForType"></span>
    </div>
   <div class="form-group">
        <label asp-for="FileDescription.Description" class="control-label">Описание</label>
        <textarea asp-for="FileDescription.Description" class="form-control" value="@Model.FileDescription.Description"></textarea><br />
        <span asp-validation-for="FileDescription.Description"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Изменить" />
    </div>
</form>
@section scripts
{
    <script src="~/lib/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}